<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jsa.analytics">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/jsa_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/jsa_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JSACashFlow"
        tools:targetApi="31">
        <activity
            android:name=".ui.VideoActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.ForgetPasswordActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.MonthSelectActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.AnalyticsOutputActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.CashFlowDashboardActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CashFlowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BalanceSheetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.FinancialSummaryActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".ui.HomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/splashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
    </application>

</manifest>